.landing-page-title {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10vw;
  align-items: left;
  justify-content: left;
}

.title {
  margin: auto;
}

.title-header {
  font-size: 3rem;
  font-weight: bold;
}

.title-underBar:before,
.title-underBar:after {
  content: "";
  width: 88px;
  background-color: blanchedalmond;
  height: 4px;
  position: relative;
  display: block;
  border-radius: 5px;
  top: 5px;
}

.title-underBar:after {
  top: 8px;
  left: 20px;
}
.title-role {
  font-size: 1.5rem;
}
.icons-social {
  margin: 25px;
}
.icons-social i {
  font-size: 2em;
  color: black;
}
.icons-social a {
  margin: 15px;
}
.animation {
  width: 80%;
}
