.night {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateZ(20deg);
    z-index: -1000;
  }

  
  .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-20deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
            animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  .shooting_star:nth-child(1) {
    top: calc(5% - 6px);
    left: calc(80% - 57px);
    -webkit-animation-delay: 1678ms;
            animation-delay: 1678ms;
  }
  .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 1678ms;
            animation-delay: 1678ms;
  }
  .shooting_star:nth-child(2) {
    top: calc(10% - 38px);
    left: calc(75% - 144px);
    -webkit-animation-delay: 3428ms;
            animation-delay: 3428ms;
  }
  .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 3428ms;
            animation-delay: 3428ms;
  }
  .shooting_star:nth-child(3) {
    top: calc(15% - -195px);
    left: calc(70% - 10px);
    -webkit-animation-delay: 5613ms;
            animation-delay: 5613ms;
  }
  .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 5613ms;
            animation-delay: 5613ms;
  }
  .shooting_star:nth-child(4) {
    top: calc(20% - 193px);
    left: calc(85% - 158px);
    -webkit-animation-delay: 655ms;
            animation-delay: 655ms;
  }
  .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 655ms;
            animation-delay: 655ms;
  }
  .shooting_star:nth-child(5) {
    top: calc(25% );
    left: calc(25% );
    -webkit-animation-delay: 4766ms;
            animation-delay: 4766ms;
  }
  .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 4766ms;
            animation-delay: 4766ms;
  }
  .shooting_star:nth-child(6) {
    top: calc(30% - 192px);
    left: calc(30% - 121px);
    -webkit-animation-delay: 194ms;
            animation-delay: 194ms;
  }
  .shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 194ms;
            animation-delay: 194ms;
  }
  .shooting_star:nth-child(7) {
    top: calc(35% - -188px);
    left: calc(35% - 66px);
    -webkit-animation-delay: 656ms;
            animation-delay: 656ms;
  }
  .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 656ms;
            animation-delay: 656ms;
  }
  .shooting_star:nth-child(8) {
    top: calc(40% - -43px);
    left: calc(5% - 113px);
    -webkit-animation-delay: 3098ms;
            animation-delay: 3098ms;
  }
  .shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 3098ms;
            animation-delay: 3098ms;
  }
  .shooting_star:nth-child(9) {
    top: calc(45% - 33px);
    left: calc(45% - 180px);
    -webkit-animation-delay: 6324ms;
            animation-delay: 6324ms;
  }
  .shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 6324ms;
            animation-delay: 6324ms;
  }
  .shooting_star:nth-child(10) {
    top: calc(50% - 124px);
    left: calc(50% - 267px);
    -webkit-animation-delay: 3727ms;
            animation-delay: 3727ms;
  }
  .shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 3727ms;
            animation-delay: 3727ms;
  }
  .shooting_star:nth-child(11) {
    top: calc(55% - -100px);
    left: calc(55% - 197px);
    -webkit-animation-delay: 4987ms;
            animation-delay: 4987ms;
  }
  .shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 4987ms;
            animation-delay: 4987ms;
  }
  .shooting_star:nth-child(12) {
    top: calc(60% - -128px);
    left: calc(105% - 95px);
    -webkit-animation-delay: 8695ms;
            animation-delay: 8695ms;
  }
  .shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 8695ms;
            animation-delay: 8695ms;
  }
  .shooting_star:nth-child(13) {
    top: calc(65% - -37px);
    left: calc(5% - 113px);
    -webkit-animation-delay: 9584ms;
            animation-delay: 9584ms;
  }
  .shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 9584ms;
            animation-delay: 9584ms;
  }
  .shooting_star:nth-child(14) {
    top: calc(70% - 42px);
    left: calc(70% - 5px);
    -webkit-animation-delay: 4445ms;
            animation-delay: 4445ms;
  }
  .shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 4445ms;
            animation-delay: 4445ms;
  }
  .shooting_star:nth-child(15) {
    top: calc(75% - 138px);
    left: calc(75% - 11px);
    -webkit-animation-delay: 8557ms;
            animation-delay: 8557ms;
  }
  .shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 8557ms;
            animation-delay: 8557ms;
  }
  .shooting_star:nth-child(16) {
    top: calc(80% - 123px);
    left: calc(80% - 142px);
    -webkit-animation-delay: 4293ms;
            animation-delay: 4293ms;
  }
  .shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 4293ms;
            animation-delay: 4293ms;
  }
  .shooting_star:nth-child(17) {
    top: calc(90% - -35px);
    left: calc(30% - 231px);
    -webkit-animation-delay: 5141ms;
            animation-delay: 5141ms;
  }
  .shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 5141ms;
            animation-delay: 5141ms;
  }
  .shooting_star:nth-child(18) {
    top: calc(95% - -27px);
    left: calc(25% - 196px);
    -webkit-animation-delay: 3666ms;
            animation-delay: 3666ms;
  }
  .shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 3666ms;
            animation-delay: 3666ms;
  }
  .shooting_star:nth-child(19) {
    top: calc(100% - -154px);
    left: calc(20% - 251px);
    -webkit-animation-delay: 3022ms;
            animation-delay: 3022ms;
  }
  .shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 3022ms;
            animation-delay: 3022ms;
  }
  .shooting_star:nth-child(20) {
    top: calc(105% - -66px);
    left: calc(15% - 167px);
    -webkit-animation-delay: 4640ms;
            animation-delay: 4640ms;
  }
  .shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 4640ms;
            animation-delay: 4640ms;
  }
  
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @-webkit-keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }