.navigation_link_root {
  position: absolute;
  top: 5vw;
  right: 10vw;
}

.navigation_links {
  color: white;
  display: inline-block;
  font-weight: 300;
  font-size: 140%;
  margin: 0 10px;
  padding: 5px;
  border-bottom: 1px transparent;
  transition: border-bottom 0.2s;
  
}
.navigation_link_root a:hover, 
.navigation_link_root a:focus, 
.navigation_link_root a:visited, 
.navigation_link_root a:link, 
.navigation_link_root a:active {    
  text-decoration: none;
  }

.navigation_links:hover,
navigation_links:active {  
  display: inline-block; 
  color: white;
  border-bottom: 2px solid white;
}

.activeLink {
  border-bottom: 2px solid white;
}